
@{
	Layout = null;
}


<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>

	<link rel=stylesheet href="~/lib/codemirror.css">
	<link rel=stylesheet href="~/doc/docs.css">
	<script src="~/lib/codemirror.js"></script>
	<script src="~/mode/xml/xml.js"></script>
	<script src="~/mode/javascript/javascript.js"></script>
	<script src="~/mode/css/css.js"></script>
	<script src="~/mode/htmlmixed/htmlmixed.js"></script>
	<script src="~/addon/edit/matchbrackets.js"></script>

	<script src="doc/activebookmark.js"></script>
</head>
<body>
	<div id="codeeditor">

	</div>



	<script>
		var editor = CodeMirror(document.getElementById("codeeditor"));
	</script>

</body>
</html>
